#home-image {
  width: 100%;
  height: auto;
  top: 56px;
  bottom: 64.8px;
  position: absolute;
  background-image: url("./cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 900px), (max-height: 389px) {
  #home-image {
      background-size: contain;
  }
}