footer {
  background-color: #343a40;
  bottom: 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  left: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}
